* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img {
    height: 700px;
    width: 510px;
    position: relative;
    z-index: 99;
    object-fit: cover;
    animation: move 3s linear infinite forwards alternate;
}

.text {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 60%;
    z-index: 999;
    /* background-color: red; */
    text-align: center;
    top: 12%;
    text-transform: uppercase;
    animation: split 5s ease-in 1 forwards alternate;
}


.scroll-div {
    position: absolute;
    top: 24%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll-div::-webkit-scrollbar {
    display: none;
}

.scroll-div h1 {
    display: inline-block;
    font-size: 160px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 30px;
    animation: scroll 1s linear infinite;
}

.scroll-div2 {
    position: absolute;
    top: 44%;
    width: 100%;
    z-index: 100;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll-div2::-webkit-scrollbar {
    display: none;
}

.scroll-div2 h1 {
    display: inline-block;
    font-size: 160px;
    font-family: monospace;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 3px;
    margin-right: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation: scroll 1s linear infinite alternate-reverse;
    
}

.scroll-div3 {
    position: absolute;
    top: 64%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll-div3::-webkit-scrollbar {
    display: none;
}

.scroll-div3 h1 {
    display: inline-block;
    font-size: 160px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 30px;
    animation: scroll 1s linear infinite reverse;
}

@keyframes scroll {
    0% {
        transform: translateX(calc(-100% - 32px));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move {
    0%,100% {
        transform: translate(0,0);
    }

    25% {
        transform: translate(100%,100%);
    }

    50% {
        transform: translate(-100%,100%);
    }

}

@keyframes split {
    0%,100% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(-100%,0);
    }

    75% {
        transform: translate(100%,0);
    }
}